#### Import dependencies & load data

In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [2]:
# Prepare database file
engine = create_engine("sqlite:///hawaii.sqlite")

# Create 'Base' class for automap schema
Base = automap_base()

# Reflect schema from tables
Base.prepare(engine, reflect=True)

# View classes found by automap
Base.classes.keys()

['measurement', 'station']

In [3]:
# Save reference to measurement table
Measurement = Base.classes.measurement

# Save reference to station table
Station = Base.classes.station

In [4]:
# Create session linking Python to database
session = Session(engine)

In [5]:
# Inspect 'Measurement' columns and data in dictionary format
Measurement_dict = session.query(Measurement).first()
Measurement_dict.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fee38c8bf70>,
 'id': 1,
 'date': '2010-01-01',
 'tobs': 65.0,
 'station': 'USC00519397',
 'prcp': 0.08}

In [6]:
# Inspect 'Station' columns and data in dictionary format
Station_dict = session.query(Station).first()
Station_dict.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x7fee38c8b5b0>,
 'latitude': 21.2716,
 'id': 1,
 'elevation': 3.0,
 'longitude': -157.8168,
 'station': 'USC00519397',
 'name': 'WAIKIKI 717.2, HI US'}

# Calculate summary statistics for June

In [7]:
# Query 'Measurement' table to retrieve temperatures
jun_query = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [8]:
# Save temperatures as list
jun_temps = [column[1] for column in jun_query]

In [9]:
# Save list as DataFrame
jun_df = pd.DataFrame(jun_temps)

In [10]:
# Calculate summary statistics for DataFrame
jun_df.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

# Calculate summary statistics for December

In [11]:
# Query 'Measurement' table to retrieve temperatures
dec_query = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [12]:
# Save temperatures as list
dec_temps = [column[1] for column in dec_query]

In [13]:
# Save list as DataFrame
dec_df = pd.DataFrame(dec_temps)

In [14]:
# Calculate summary statistics for DataFrame
dec_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000